contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
graphviz==0.21
kiwisolver==1.4.9
matplotlib==3.10.8
neat-python==1.1.0
numpy==2.4.0
packaging==25.0
pillow==12.1.0
pygame==2.6.1
pyparsing==3.3.1
python-dateutil==2.9.0.post0
six==1.17.0
